body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
